/* mixins and variables*/
/* mixins and variables*/
/* style for section about */
/* mixins and variables*/
svg {
  cursor: pointer; }

svg:hover .feature-cls-1, svg:hover .feature-cls-2, svg:hover .quote-cls-1, svg:hover .quote-cls-2, svg:hover .think-cls-1, svg:hover .think-cls-2 {
  stroke: #a93d8b;
  fill-opacity: 1; }

svg:hover .feature-cls-2, svg:hover .quote-cls-2, svg:hover .think-cls-2 {
  fill: #a93d8b; }

svg:hover .about__button-cls-2 {
  fill: #562081; }

svg:hover .about__button-cls-1 {
  fill: #9f449b; }

#about nav {
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  max-width: 104.09091vh;
  margin: 0 auto;
  margin-top: 5.18182vh;
  margin-bottom: 4vh; }
  #about nav:before, #about nav:after {
    content: " ";
    display: table; }
  #about nav:after {
    clear: both; }

.about-logo {
  width: 14.92424vh;
  box-sizing: border-box;
  float: left;
  margin-right: 2.90909vh;
  font-size: 2.72727vh;
  line-height: 1; }
  .about-logo:last-child {
    margin-right: 0; }
  .about-logo span:nth-child(odd) {
    color: #676767; }
  .about-logo span:nth-child(even) {
    color: #a93d8b; }

.about-menu {
  width: 68.42424vh;
  box-sizing: border-box;
  float: left;
  margin-right: 2.90909vh;
  margin-left: 12.01515vh;
  margin: 0;
  padding: 0;
  line-height: 1.83333;
  font-size: 1.63636vh;
  float: right; }
  .about-menu:last-child {
    margin-right: 0; }

.about-menu-item {
  list-style: none;
  display: inline;
  margin-right: 2.90909vh; }
  .about-menu-item:last-child {
    margin-right: 0; }
  .about-menu-item a, .about-menu-item a:hover {
    text-decoration: none; }
  .about-menu-item a {
    color: #765c5c; }
  .about-menu-item a:hover {
    color: #a93d8b; }

.about-feature {
  background-color: #eeeeee;
  padding-top: 15vh;
  padding-bottom: 19.54545vh; }

.about-feature-container {
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  max-width: 104.09091vh;
  margin: 0 auto; }
  .about-feature-container:before, .about-feature-container:after {
    content: " ";
    display: table; }
  .about-feature-container:after {
    clear: both; }

.about-feature-item {
  width: 23.84091vh;
  box-sizing: border-box;
  float: left;
  margin-right: 2.90909vh; }
  .about-feature-item:last-child {
    margin-right: 0; }
  .about-feature-item h4, .about-feature-item .about-feature-item-description {
    color: #765c5c; }
  .about-feature-item h4 {
    font-size: 2.18182vh; }
  .about-feature-item .about-feature-item-description {
    font-size: 1.45455vh;
    line-height: 1.9375; }

.about-section {
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  max-width: 104.09091vh;
  margin: 0 auto;
  padding-top: 11.36364vh;
  padding-bottom: 21.27273vh; }
  .about-section:before, .about-section:after {
    content: " ";
    display: table; }
  .about-section:after {
    clear: both; }

.about-section-header, .portfolio-header, .contact-header {
  background: url(../../src/assets/about/heading-about.svg) no-repeat;
  background-size: contain;
  background-position: center;
  width: 32.75758vh;
  box-sizing: border-box;
  float: left;
  margin-right: 2.90909vh;
  margin-left: 29.84848vh;
  position: relative;
  font-size: 4.36364vh;
  padding-bottom: 10.90909vh;
  margin-bottom: 11.81818vh; }
  .about-section-header:last-child, .portfolio-header:last-child, .contact-header:last-child {
    margin-right: 0; }

.about-section-header__text, .portfolio-header__text, .contact-header__text {
  position: absolute;
  top: 25%;
  left: 24%;
  color: #79447b; }
  .about-section-header__text span:nth-child(odd), .portfolio-header__text span:nth-child(odd), .contact-header__text span:nth-child(odd) {
    color: #676767; }
  .about-section-header__text span:nth-child(even), .portfolio-header__text span:nth-child(even), .contact-header__text span:nth-child(even) {
    color: #a93d8b; }

.about-body-devices {
  width: 59.50758vh;
  box-sizing: border-box;
  float: left;
  margin-right: 2.90909vh; }
  .about-body-devices:last-child {
    margin-right: 0; }
  .about-body-devices object, .about-body-devices img {
    max-width: 100%; }

.about-body-info {
  width: 41.67424vh;
  box-sizing: border-box;
  float: left;
  margin-right: 2.90909vh; }
  .about-body-info:last-child {
    margin-right: 0; }
  .about-body-info .info-text {
    text-align: left;
    margin-bottom: 11.81818vh;
    color: #765c5c;
    font-size: 1.45455vh;
    line-height: 2.125; }
  .about-body-info .about-button {
    background-color: #a93d8b;
    border-radius: 4px;
    width: 20.90909vh;
    height: 6.36364vh;
    border-width: 5px;
    border-bottom: solid #6b2e68;
    font-size: 1.81818vh;
    color: #fff;
    line-height: 6.36364vh;
    /*(for centering text vertically)*/ }

.quote-section, .service-section {
  background: url(../../src/assets/quote/quote-bg.png) no-repeat;
  background-position: center; }

.quote-container, .service-container {
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  max-width: 104.09091vh;
  margin: 0 auto; }
  .quote-container:before, .service-container:before, .quote-container:after, .service-container:after {
    content: " ";
    display: table; }
  .quote-container:after, .service-container:after {
    clear: both; }

.quote-study-icon, .service-icon {
  margin-left: 38.76515vh;
  width: 14.92424vh;
  box-sizing: border-box;
  float: left;
  margin-right: 2.90909vh;
  margin-top: 14vh; }
  .quote-study-icon:last-child, .service-icon:last-child {
    margin-right: 0; }

.quote-study-text, .service-text {
  margin-left: 12.01515vh;
  width: 68.42424vh;
  box-sizing: border-box;
  float: left;
  margin-right: 2.90909vh;
  font-size: 4.36364vh;
  color: #FFFFFF;
  padding-top: 5.81818vh;
  padding-bottom: 16.45455vh; }
  .quote-study-text:last-child, .service-text:last-child {
    margin-right: 0; }

.portfolio {
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  max-width: 104.09091vh;
  margin: 0 auto;
  padding-top: 8.90909vh; }
  .portfolio:before, .portfolio:after {
    content: " ";
    display: table; }
  .portfolio:after {
    clear: both; }

.portfolio-header, .contact-header {
  padding-bottom: 14.54545vh; }

.portfolio-header__text, .contact-header__text {
  font-size: 4.36364vh;
  left: 15%; }

.portfolio-nav {
  margin-left: 29.84848vh;
  width: 41.67424vh;
  box-sizing: border-box;
  float: left;
  margin-right: 2.90909vh;
  margin-bottom: 5.45455vh; }
  .portfolio-nav:last-child {
    margin-right: 0; }

.portfolio-nav-item {
  width: 7.72727vh;
  height: 3.63636vh;
  border: 1px solid black;
  box-sizing: border-box;
  display: inline-block;
  margin-right: 1.81818vh;
  font-size: 1.63636vh;
  cursor: pointer;
  line-height: 3.63636vh;
  border-radius: 6px; }
  .portfolio-nav-item:nth-child(4) {
    margin-right: 0; }

.portfolio-nav-item:hover {
  border-color: #a93d8b;
  background-color: #a93d8b;
  color: #FFFFFF; }

.portfolio-container-image:before, .portfolio-container-image:after {
  content: " ";
  display: table; }

.portfolio-container-image:after {
  clear: both; }

.portfolio-image-item {
  width: 32.75758vh;
  box-sizing: border-box;
  float: left;
  margin-right: 2.90909vh;
  padding-top: 3.18182vh; }
  .portfolio-image-item:last-child {
    margin-right: 0; }
  .portfolio-image-item:nth-child(3) {
    margin-right: 0; }

.portfolio-image-item__text {
  font-size: 2.18182vh;
  color: black;
  line-height: 1.38889; }

.portfolio-image-item__text:after {
  content: "apps, icons, ui";
  display: block;
  font-size: 1.54545vh;
  color: #907676;
  line-height: 1.79412; }

.portfolio-button, .contact-button {
  background-color: #a93d8b;
  border-radius: 4px;
  width: 20.90909vh;
  height: 6.36364vh;
  border-width: 5px;
  border-bottom: solid #6b2e68;
  font-size: 1.81818vh;
  color: #fff;
  line-height: 6.36364vh;
  /*(for centering text vertically)*/
  margin: 6.18182vh auto 0 auto;
  cursor: pointer; }

.contact {
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  max-width: 104.09091vh;
  margin: 0 auto;
  padding-top: 17.27273vh;
  padding-bottom: 15.27273vh; }
  .contact:before, .contact:after {
    content: " ";
    display: table; }
  .contact:after {
    clear: both; }

.contact-header {
  padding-bottom: 15.45455vh; }

.contact-header__text {
  left: 15%; }

.contact-form {
  width: 41.67424vh;
  box-sizing: border-box;
  float: left;
  margin-right: 2.90909vh; }
  .contact-form:last-child {
    margin-right: 0; }

.contact-info {
  margin-left: 3.09848vh;
  width: 50.59091vh;
  box-sizing: border-box;
  float: left;
  margin-right: 2.90909vh;
  text-align: left; }
  .contact-info:last-child {
    margin-right: 0; }

.contact-form input, .contact-form textarea {
  width: 100%;
  margin-bottom: 3.18182vh;
  padding-left: 3.09091vh;
  padding-top: 0.90909vh;
  box-sizing: border-box; }

.contact-form input {
  height: 6.81818vh; }

.contact-info__descroption {
  font-size: 2.09091vh;
  color: #676767;
  padding-bottom: 4.90909vh; }

.contact-info__adress, .contact-info__phone {
  color: #3f3f3f;
  font-size: 2.54545vh;
  line-height: 1.23684;
  padding-bottom: 3.63636vh; }

.contact-info__phone {
  padding-bottom: 6.36364vh; }

.contact-info .social-icons .icon__facebook, .contact-info .social-icons .icon__google, .contact-info .social-icons .icon__twitter {
  background-position: left;
  width: 15%; }

.footer-logo {
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  max-width: 104.09091vh;
  margin: 0 auto;
  font-size: 4.63636vh;
  padding-bottom: 11.81818vh; }
  .footer-logo:before, .footer-logo:after {
    content: " ";
    display: table; }
  .footer-logo:after {
    clear: both; }
  .footer-logo span:nth-child(odd) {
    color: #676767; }
  .footer-logo span:nth-child(even) {
    color: #a93d8b; }
