/* mixins and variables*/
.experience__web-d, .experience__html-css {
  margin-left: 3.09848vh;
  width: 41.67424vh;
  box-sizing: border-box;
  float: left;
  margin-right: 2.90909vh;
  padding-bottom: 3.63636vh; }
  .experience__web-d:last-child, .experience__html-css:last-child {
    margin-right: 0; }

.experience-web-d__bg {
  background: url(../../src/assets/skills/web-design.svg) no-repeat;
  background-size: contain;
  background-position: center; }

.experience__graphic-d, .experience__ui-ux {
  width: 41.67424vh;
  box-sizing: border-box;
  float: left;
  margin-right: 2.90909vh;
  margin-left: 3.09848vh;
  padding-bottom: 3.63636vh; }
  .experience__graphic-d:last-child, .experience__ui-ux:last-child {
    margin-right: 0; }
  .experience__graphic-d:nth-child(2), .experience__ui-ux:nth-child(2) {
    margin-right: 0; }

.experiense-text:before, .experiense-text:after {
  content: " ";
  display: table; }

.experiense-text:after {
  clear: both; }

.experiense-text__title {
  font-size: 2vh;
  float: left;
  line-height: 1.40909; }

.experience-text__percent {
  float: right;
  font-size: 2.18182vh;
  line-height: 1.375; }

.experience-graphic-d__bg {
  background: url(../../src/assets/skills/graphic-design.svg) no-repeat;
  background-size: contain;
  background-position: center; }

.experience-line-bg {
  padding-bottom: 3.63636vh; }

.experience-html-css__bg {
  background: url(../../src/assets/skills/html-css.svg) no-repeat;
  background-size: contain;
  background-position: center; }

.experience-ui-ux__bg {
  background: url(../../src/assets/skills/ui-ux.svg) no-repeat;
  background-size: contain;
  background-position: center; }
