/* mixins and variables*/
body {
  font: 100% 16px Helvetica, sans-serif; }

img, object {
  max-width: 100%; }

object {
  cursor: pointer; }

#home {
  height: 100vh;
  background: url(../../src/assets/header/header_bg.png) no-repeat;
  background-position: center; }

#home header {
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  max-width: 104.09091vh;
  margin: 0 auto; }
  #home header:before, #home header:after {
    content: " ";
    display: table; }
  #home header:after {
    clear: both; }
  #home header h1 {
    margin: 0;
    padding: 0;
    padding-top: 7.72727vh;
    padding-bottom: 7.27273vh;
    font-size: 8.18182vh; }
    #home header h1 span:nth-child(odd) {
      color: #FFFFFF; }
    #home header h1 span:nth-child(even) {
      color: #a93d8b; }
  #home header h2 {
    margin: 0;
    padding: 0;
    margin-bottom: 3.09091vh;
    font-size: 4.36364vh; }
  #home header h3 {
    margin-bottom: 10vh;
    font-size: 2.18182vh; }

.base-color {
  color: #FFFFFF; }

.second-color {
  color: #a93d8b; }

.home-nav {
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  max-width: 104.09091vh;
  margin: 0 auto;
  font-size: 1.63636vh;
  list-style: none;
  margin: 0;
  padding: 0; }
  .home-nav:before, .home-nav:after {
    content: " ";
    display: table; }
  .home-nav:after {
    clear: both; }
  .home-nav:before, .home-nav:after {
    content: " ";
    display: table; }
  .home-nav:after {
    clear: both; }
  .home-nav-item {
    position: relative;
    padding-bottom: 16.81818vh;
    height: 0; }

.home-nav-item__about {
  width: 14.92424vh;
  box-sizing: border-box;
  float: left;
  margin-right: 2.90909vh;
  background: url(../../src/assets/header/header_nav/about.svg) no-repeat;
  background-size: contain;
  background-position: center;
  margin-top: 16.81818vh; }
  .home-nav-item__about:last-child {
    margin-right: 0; }

.home-nav-item__team {
  width: 14.92424vh;
  box-sizing: border-box;
  float: left;
  margin-right: 2.90909vh;
  background: url(../../src/assets/header/header_nav/team.svg) no-repeat;
  background-size: contain;
  background-position: center;
  margin-top: 16.81818vh; }
  .home-nav-item__team:last-child {
    margin-right: 0; }

.home-nav-item__services {
  width: 14.92424vh;
  box-sizing: border-box;
  float: left;
  margin-right: 2.90909vh;
  background: url(../../src/assets/header/header_nav/services.svg) no-repeat;
  background-size: contain;
  background-position: center;
  margin-bottom: 16.81818vh; }
  .home-nav-item__services:last-child {
    margin-right: 0; }

.home-nav-item__portfolio {
  width: 14.92424vh;
  box-sizing: border-box;
  float: left;
  margin-right: 2.90909vh;
  background: url(../../src/assets/header/header_nav/portfolio.svg) no-repeat;
  background-size: contain;
  background-position: center;
  margin-bottom: 16.81818vh; }
  .home-nav-item__portfolio:last-child {
    margin-right: 0; }

.home-nav-item__blog {
  width: 14.92424vh;
  box-sizing: border-box;
  float: left;
  margin-right: 2.90909vh;
  background: url(../../src/assets/header/header_nav/blog.svg) no-repeat;
  background-size: contain;
  background-position: center;
  margin-top: 16.81818vh; }
  .home-nav-item__blog:last-child {
    margin-right: 0; }

.home-nav-item__contact {
  width: 14.92424vh;
  box-sizing: border-box;
  float: left;
  margin-right: 2.90909vh;
  background: url(../../src/assets/header/header_nav/contact.svg) no-repeat;
  background-size: contain;
  background-position: center;
  margin-top: 16.81818vh; }
  .home-nav-item__contact:last-child {
    margin-right: 0; }

.home-nav-title {
  position: absolute;
  top: 11.18182vh;
  left: 5.45455vh;
  color: #FFFFFF; }

.home-scroll {
  width: 14.92424vh;
  box-sizing: border-box;
  float: left;
  margin-right: 2.90909vh;
  margin-left: 47.68182vh;
  padding-bottom: 9.90909vh;
  background: url(../../src/assets/header/header_scroller/scroller.svg) no-repeat;
  background-size: contain; }
  .home-scroll:last-child {
    margin-right: 0; }

/*
#team {
  height: 1765px;
}

#service {
  height: 2310px;
}
#portfolio {
  height: 1475px;
}
#contact {
  height: 1325px;
}


section.feature{
  height: 1.5%;
  background-color: red;
}
section.about{
  height: 8%;
  background-color: #004444;
}

section.quote{
  height: 10.5%;
  background-color: #00DD00;
}
*/
