/* style for section about */
@import "mixins";

svg {
  cursor: pointer;
}

svg .feature-cls-1, svg .quote-cls-1, svg .quote-cls-2, svg .think-cls-1, svg .think-cls-2 {
  transition: stroke 0.7s;
}

svg:hover .feature-cls-1, svg:hover .feature-cls-2, svg:hover .quote-cls-1, svg:hover .quote-cls-2, svg:hover .think-cls-1, svg:hover .think-cls-2 {
  stroke: #a93d8b;
  fill-opacity: 1;
}

svg .feature-cls-2, svg .quote-cls-2, svg .think-cls-2 {
  transition: fill 1s;
}


svg:hover .feature-cls-2, svg:hover .quote-cls-2, svg:hover .think-cls-2 {
  fill: #a93d8b;
}


#about {
  position: relative;
}

#about .about-nav {
  width: 100%;
}

nav  {
  background-color: $base-color;
  //height: 101px / 1100px * 100vh;
  padding-top: 57px / 1100px * 100vh;
  padding-bottom: 44px / 1100px * 100vh;

  //display: table-cell;
  //vertical-align: middle;
  @include grid-container;
}

.fixed-nav {
  height: 132.7px / 1100px * 100vh;
}

.about-nav-bg {
  width: 100%;
  background-color: $base-color;
}

.about-nav.fixed-nav .about-nav-bg {
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  //padding-top: 57px / 1100px * 100vh;
  //padding-bottom: 44px / 1100px * 100vh;
}


.about-logo {
  @include column-col(2);
  font-size: 30px / 1100px * 100vh;
  box-sizing: border-box;
  font-family: "Existence_light";
  font-weight: bold;
  line-height: 1;
  @include spans-color($base-color-about-nav, $second-color);
}

.about-menu {
  @include column-col(8);
  @include offsets-column(2);
  @include zeroing-margin-pad;
  line-height: (18px + 30px/2) / 18px;
  font-size: 18px / 1100px * 100vh;
  float: right;
}

.about-menu-item {
  @include list-style-none;
  display: inline;
  @include margin-right;
  font-family: 'Lato_light';

  a, a:hover {
    text-decoration: none;
  }
  a {
    color: $base-color-nav;
  }

  a:hover {
    color: $second-color;
  }
}

.about-feature {
  background-color: $statistic-bg-color;  
  padding-top: 165px/ $viewport-height * 100vh;
  padding-bottom: 215px / 1100px * 100vh;
}

.about-feature-container {
  @include grid-container;
}
.about-feature-item {
  @include column-col(3);

  h4, .about-feature-item-description  {
    color: $base-color-nav;
    font-family: "Lato_light";
  }

  h4 {
    font-size: 24px / 1100px * 100vh;
  }

  .about-feature-item-description {
    font-size: 16px / 1100px * 100vh;
    line-height: (16px + 30px/2) / 16px;
  }

}

.about-section {
  @include grid-container;
  padding-top: 125px / 1100px * 100vh;
  padding-bottom: 234px / 1100px * 100vh;
}
.about-section-header {
  @include background-style("about/heading-about.svg");
  @include column-col(4);
  @include offsets-column(4);
  position: relative;
  font-size: 48px / 1100px * 100vh;
  padding-bottom: 120px / 1100px * 100vh;
  margin-bottom: 130px / 1100px * 100vh;
}

.about-section-header__text {
  position: absolute;
  top: 25%;
  left: 24%;
  color: $font-color-about;
  @include spans-color($base-color-about-nav,$second-color);
  font-family: "Existence_light";
  font-weight: bold;
}

.about-body {

}

.about-body-devices {
  @include column-col(7);
 //@include background-style("about/devices.svg");
  object, img {
    max-width: 100%;
  }
}

.about-body-info {
  @include column-col(5);
  text-align: left;

  .info-text {
    margin-bottom: 130px / $viewport-height * 100vh;
    color: $base-color-nav;
    font-size: 16px / 1100px * 100vh;
    font-family: "Lato_light";
    line-height: (16px + 36px/ 2) / 16px;
  }

  /*.about-button {
    background-color: $second-color;
    border-radius: 4px;
    width: 230px / $viewport-height * 100vh;
    height: 70px / $viewport-height * 100vh;
    border-width: 5px;
    border-bottom: solid #6b2e68;
    font-size: 20px / 1100px * 100vh;
    color: #fff;
    line-height: 70px / $viewport-height * 100vh;  /!*(for centering text vertically)*!/
    cursor: pointer;
    }*/
}

.quote-section {
  @include background-image("quote/quote-bg.png");
  background-position: center;
}

.quote-container {
  @include grid-container;
}

.quote-study-icon {
  @include offsets-column(5);
  @include column-col(2);
  margin-top: 154px/ 1100px * 100vh;;
}

.quote-study-text {
  @include offsets-column(2);
  @include column-col(8);
  font-size: 48px / 1100px * 100vh;
  font-family: "Lato_regular";
  color: $base-color;
  padding-top: 64px / 1100px * 100vh;
  padding-bottom: 181px / 1100px * 100vh;
}

.service-section {
  @extend .quote-section;
}

.service-container {
  @extend .quote-container;
}

.service-icon {
  @extend .quote-study-icon;
}

.service-text {
  @extend .quote-study-text;

}




