/* style for section about */
@import "mixins";

svg:hover .feature-cls-1, svg:hover .feature-cls-2, svg:hover .quote-cls-1, svg:hover .quote-cls-2 {
  stroke: #a93d8b;
  fill-opacity: 1;
}

svg:hover .feature-cls-2, svg:hover .quote-cls-2 {
  fill: #a93d8b;
}

svg:hover .about__button-cls-2 {
  fill: #562081;
}
svg:hover .about__button-cls-1 {
  fill: #9f449b;
}

#about nav {
  @include grid-container;
  margin-top: 57px / 1100px * 100vh;
  margin-bottom: 44px / 1100px * 100vh;
}
.about-logo {
  @include column-col(2);
  font-size: 30px / 1100px * 100vh;
  line-height: 1;
  .base-color {
    color: $base-color-about-nav;
  }
}

.about-menu {
  @include column-col(8);
  @include offsets-column(2);
  @include zeroing-margin-pad;
  line-height: (18px + 30px/2) / 18px ;
  font-size: 18px / 1100px * 100vh;
  float: right;
}

.about-menu-item {
  @include list-style-none;
  display: inline;
  @include margin-right;

  a, a:hover {
    text-decoration: none;
  }
  a {
    color: $base-color-nav;
  }

  a:hover {
    color: $second-color;
  }
}

.about-feature {
  @include background-image("feature/feature-bg.svg");
  background-size: cover;
}

.about-feature-container {
  @include grid-container;
}
.about-feature-item {
  @include column-col(3);
  margfin-top: 165px / 1100px * 100vh;
  margin-bottom: 215px / 1100px * 100vh;

  h4, .about-feature-item-description  {
    color: $base-color-nav;
  }

  h4 {
    font-size: 24px / 1100px * 100vh;
  }

  .about-feature-item-description {
    font-size: 16px / 1100px * 100vh;
    line-height: (16px + 30px/2) / 16px;
  }

}

.about-section {
  @include grid-container;
  padding-top: 125px / 1100px * 100vh;
  padding-bottom: 234px / 1100px * 100vh;
}
.about-section-header {
  @include background-style("about/heading-about.svg");
  @include column-col(4);
  @include offsets-column(4);
  position: relative;
  font-size: 48px / 1100px * 100vh;
  padding-bottom: 120px / 1100px * 100vh;
  margin-bottom: 130px / 1100px * 100vh ;
}

.about-section-header__text {
  position: absolute;
  top: 25%;
  left: 25%;
  color: $font-color-about;
}

.about-body {

}

.about-body-devices {
  @include column-col(7);
 //@include background-style("about/devices.svg");
  object, img {
    max-width: 100%;
  }
}

.about-body-info {
  @include column-col(5);

  .info-text {
    text-align: left;
    margin-bottom: 130px / 1100px * 100vh;
    color: $base-color-nav;
    font-size: 16px / 1100px * 100vh;
    line-height: (16px + 36px/ 2) / 16px;
  }
  .info-button {
    @include background-image("about/button.svg");
    background-size: contain;
    padding-bottom: 80px / 1100px * 100vh;
    position: relative;

    &:after {
      content: "Learn more";
      position: absolute;
      top: 35%;
      left: 15%;
      font-size: 20px / 1100px * 100vh;
      color: #fff;
    }
  }
}

.quote-section {
  @include background-image("quote/quote-bg.png");
  background-position: center;
}

.quote-container {
  @include grid-container;
}

.quote-study-icon {
  @include offsets-column(5);
  @include column-col(2);
  margin-top: 154px/ 1100px * 100vh;;
}

.quote-study-text {
  @include offsets-column(2);
  @include column-col(8);
  font-size: 48px / 1100px * 100vh;
  color: $base-color;
  padding-top: 64px / 1100px * 100vh;
  padding-bottom: 181px / 1100px * 100vh;
}

.service-section {
  @extend .quote-section;
}

.service-container {
  @extend .quote-container;
}

.service-icon {
  @extend .quote-study-icon;
}

.service-text {
  @extend .quote-study-text;
}




