@import "mixins";

.component-button {
  background-color: $second-color;
  border-radius: 4px;
  width: 230px / $viewport-height * 100vh;
  height: 70px / $viewport-height * 100vh;
  border-width: 1px;
  border-bottom: solid $color-button-border;
  font-size: 20px / 1100px * 100vh;
  font-family: "Existence_light";
  color: $base-color;
  line-height: 70px / $viewport-height * 100vh;  /*(for centering text vertically)*/
  cursor: pointer;
  transition: border-bottom-width  0.4s;

  &:hover {
    border-bottom-width: 0px;
  }

  &:focus {
    outline: 0;
    border: solid 0px $color-button-border;
  }
}

