@import "mixins";

.component-button {
  background-color: $second-color;
  border-radius: 4px;
  width: 230px / $viewport-height * 100vh;
  height: 70px / $viewport-height * 100vh;
  border-width: 0px;
  border-bottom: solid #6b2e68;
  font-size: 20px / 1100px * 100vh;
  color: #fff;
  line-height: 70px / $viewport-height * 100vh;  /*(for centering text vertically)*/
  cursor: pointer;

  &:hover, &:active, &:focus {
    border-width: 1px;
  }
}

