@import "mixins";
@import "portfolio";


.contact {
  @include grid-container;
  padding-bottom: 168px / $viewport-height * 100vh ;

  @include respond-to(small-media-screens) {
    padding-bottom: get-value-rem(168px,5);
  }
}

.contact-header {
  @extend .portfolio-header;
  padding-bottom: 170px / $viewport-height * 100vh
}

.contact-header__text {
  @extend .portfolio-header__text;
  left: 15%;
}

.contact-form {
  @include column-col(5);
}

.contact-info {
  @include offsets-column(1);
  @include column-col(6);
  text-align: left;
  font-family: "MyriadPro-Regular";

  .social-icons {
    margin-left: 0;
  }

}

.contact-form {
  input, textarea {
    width: 100%;
    margin-bottom: 35px / $viewport-height * 100vh;
    padding-left: 34px / $viewport-height * 100vh;
    padding-top: 10px / $viewport-height * 100vh;
    box-sizing: border-box;
    font-family: "MyriadPro-Regular";
    @include respond-to(small-media-screens) {
      margin-bottom: get-value-rem(35px);
      padding-left: get-value-rem(34px);
      padding-top: get-value-rem(10px);
    }
  }

  textarea {
    resize: vertical;
  }
  input {
    height: 75px / $viewport-height * 100vh;
    @include respond-to(small-media-screens) {
     height: get-value-rem(75px);
    }
  }
  input[placeholder], textarea[placeholder] {
    font-size: 23px / $viewport-height * 100vh;
    @include respond-to(small-media-screens) {
      font-size: get-value-rem(23px);
    }
  }
}

.contact-info__description {
  font-size: get-value-vh(23px);
  color: $first-letter-color;
  padding-bottom: get-value-vh(54px);
  @include respond-to(small-media-screens) {
    font-size: get-value-rem(23px);
    padding-bottom: get-value-rem(54px);
  }
}
.contact-info__adress {
  color: $contact-text;
  font-size: 28px / $viewport-height * 100vh;
  line-height: (28px + 38px/2) / 38px;
  padding-bottom: 40px / $viewport-height * 100vh;
  @include respond-to(small-media-screens) {
    font-size: get-value-rem(28px);
    padding-bottom: get-value-rem(40px);
  }
}

.contact-info__phone {
  @extend .contact-info__adress;
  padding-bottom: 70px / $viewport-height * 100vh;
}

.contact-info {
  .social-icons {

    .icon__facebook, .icon__google, .icon__twitter {
      background-position: left;
      width: 15%;
    }
  }
}

.contact-button-container {
  padding-top: 60px / $viewport-height * 100vh;
  text-align: left;
  @include respond-to(small-media-screens) {
    padding-top: get-value-rem(60px,5);
  }
}
.contact-button {
  @extend .portfolio-button;
  margin: 0;
}

.footer-logo {
  @include grid-container;
  @include spans-color($base-color-about-nav,$second-color);
  font-size: get-value-vh(51px);
  font-family: "MyriadPro-Regular";
  padding-bottom: get-value-vh(130px);
  @include respond-to(small-media-screens) {
    font-size: get-value-rem(51px);
    padding-bottom: get-value-rem(130px,5);
  }
}