@import "mixins";

.experience__web-d {
  @include offsets-column(1);
  @include column-col(5);
  padding-bottom: 40px / $viewport-height * 100vh;
}

.experience-web-d__bg {
  @include background-style("skills/web-design.svg");

}

.experience__graphic-d {
  @include column-col(5);
  @include omega(2);
  @include offsets-column(1);
  padding-bottom: 40px / $viewport-height * 100vh;
}
.experiense-text {
  @include clearfix;
}

.experiense-text__title {
  font-size: 22px / $viewport-height * 100vh;
  float: left;
  line-height: (22px + 18px / 2) / 22px;
}

.experience-text__percent {
  float: right;
  font-size: 24px / $viewport-height * 100vh;
  line-height: (24px + 18px / 2) / 24px;
}

.experience-graphic-d__bg {
  @include background-style("skills/graphic-design.svg");
}

.experience-line-bg {
  padding-bottom: 40px / $viewport-height * 100vh;
}

.experience__html-css {
  @extend .experience__web-d;
}

.experience-html-css__bg {
  @include background-style("skills/html-css.svg");
}

.experience__ui-ux {
  @extend .experience__graphic-d;
}

.experience-ui-ux__bg {
  @include background-style("skills/ui-ux.svg");
}