@import "mixins";

.experience {
  @include clearfix();
  margin: 0 auto;
}

.experience__web-d {
  @include offsets-column(1);
  @include column-col(4);
}

.experience-web-d__bg {
  width: $web-d-percents;
  background-color: $second-color;
  height: 100%;
}

.experience__graphic-d {
  @include offsets-column(2);
  @include column-col(4);

  @include omega(2);
  padding-bottom: 20px / $viewport-height * 100vh;
}
.experiense-text {
  @include clearfix;
  padding-bottom: 10px / $viewport-height * 100vh;
  font-family: "HelveticaNeueLTStd-BdIt";
}

.experiense-text__title {
  font-size: get-value-vh(22px);
  float: left;
  line-height: (22px + 18px / 2) / 22px;
  @include respond-to(small-media-screens) {
    font-size: get-value-rem(22px);
  }
}

.experience-text__percent {
  float: right;
  font-size: get-value-vh(24px);
  line-height: (24px + 18px / 2) / 24px;
  color: $color-text-percents;
  @include respond-to(small-media-screens) {
    font-size: get-value-rem(24px);
  }
}

.experience-graphic-d__bg {
  width: $graphic-d__bg-percents;
  background-color: $second-color;
  height: 100%;
}

.experience-line-bg {
  height: get-value-vh(20px);
  @include respond-to(small-media-screens) {
    height: get-value-rem(20px);
  }
  background-color: $color-bg-substrate;
}

.experience__html-css {
  @extend .experience__web-d;
}

.experience-html-css__bg {
  width: $html-css__bg-percents;
  background-color: $second-color;
  height: 100%;
}

.experience__ui-ux {
  @extend .experience__graphic-d;
}

.experience-ui-ux__bg {
  width: $ui-ux__bg-percents;
  background-color: $second-color;
  height: 100%;
}