@import "mixins";

.experience__web-d {
  @include offsets-column(1);
  @include column-col(5);
}

.experience-web-d__bg {
  width: $web-d-percents;
  background-color: $second-color;
  height: 20px / $viewport-height * 100vh;
}

.experience__graphic-d {
  @include column-col(5);
  @include omega(2);
  @include offsets-column(1);
  padding-bottom: 20px / $viewport-height * 100vh;
  //background-color: #f0f0f0;
}
.experiense-text {
  @include clearfix;
  padding-bottom: 10px / $viewport-height * 100vh;
  font-family: "HelveticaNeueLTStd-BdIt";
}

.experiense-text__title {
  font-size: 22px / $viewport-height * 100vh;
  float: left;
  line-height: (22px + 18px / 2) / 22px;
}

.experience-text__percent {
  float: right;
  font-size: 24px / $viewport-height * 100vh;
  line-height: (24px + 18px / 2) / 24px;
  color: $color-text-percents;
}

.experience-graphic-d__bg {
  width: $graphic-d__bg-percents;
  background-color: $second-color;
  height: 20px / $viewport-height * 100vh;
}

.experience-line-bg {
  height: 20px / $viewport-height * 100vh;
  background-color: $color-bg-substrate;
}

.experience__html-css {
  @extend .experience__web-d;
}

.experience-html-css__bg {
  width: $html-css__bg-percents;
  background-color: $second-color;
  height: 20px / $viewport-height * 100vh;
}

.experience__ui-ux {
  @extend .experience__graphic-d;
}

.experience-ui-ux__bg {
  width: $ui-ux__bg-percents;
  background-color: $second-color;
  height: 20px / $viewport-height * 100vh;
}