@font-face {
  font-family: 'Existence_light';
  src: url('../../src/assets/fonts/existence-light/Existence-Light.woff2') format('woff2'),
  url('../../src/assets/fonts/existence-light/Existence-Light.woff') format('woff'),
  url('../../src/assets/fonts/existence-light/Existence-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato_hairline';
  src: url('../../src/assets/fonts/lato/lato-hairline/Lato-Hairline.woff') format('woff'),
  url('../../src/assets/fonts/lato/lato-hairline/Lato-Hairline.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato_regular';
  src: url('../../src/assets/fonts/lato/lato-regular/Lato-Regular.woff') format('woff'),
  url('../../src/assets/fonts/lato/lato-regular/Lato-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato_light';
  src: url('../../src/assets/fonts/lato/lato-light/Lato-Light.woff') format('woff2'),
  url('../../src/assets/fonts/lato/lato-light/Lato-Light.woff') format('woff'),
  url('../../src/assets/fonts/lato/lato-light/Lato-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato_bold';
  src: url('../../src/assets/fonts/lato/lato-bold/Lato-Bold.woff2') format('woff'),
  url('../../src/assets/fonts/lato/lato-bold/Lato-Bold.woff') format('woff'),
  url('../../src/assets/fonts/lato/lato-bold/Lato-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueLTStd-BdIt';
  src: url('../../src/assets/fonts/HelveticaNeueLTStd-BdIt/HelveticaNeueLTStd-BdIt.woff2') format('woff2'),
  url('../../src/assets/fonts/HelveticaNeueLTStd-BdIt/HelveticaNeueLTStd-BdIt.woff') format('woff'),
  url('../../src/assets/fonts/HelveticaNeueLTStd-BdIt/HelveticaNeueLTStd-BdIt.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueLTStd-BdIt';
  src: url('../../src/assets/fonts/HelveticaNeueLTStd-BdIt/HelveticaNeueLTStd-BdIt.woff2') format('woff2'),
  url('../../src/assets/fonts/HelveticaNeueLTStd-BdIt/HelveticaNeueLTStd-BdIt.woff') format('woff'),
  url('../../src/assets/fonts/HelveticaNeueLTStd-BdIt/HelveticaNeueLTStd-BdIt.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MyriadPro-Regular';
  src:  url('../../src/assets/fonts/myriad-pro-regular/MyriadPro-Regular.woff') format('woff'),
  url('../../src/assets/fonts/myriad-pro-regular/MyriadPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueLTStd-Lt';
  src:  url('../../src/assets/fonts/HelveticaNeueLTStd-Lt/HelveticaNeueLTStd-Lt.woff') format('woff'),
  url('../../src/assets/fontsHelveticaNeueLTStd-Lt/HelveticaNeueLTStd-Lt.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

