@import "mixins";
@import "fonts";


body {
  font: 100% $font-size $font-stack;
}

img, object {
  width: 100%;
}

object {
  cursor: pointer;
}

#home {
  height: 100vh;
  @include background-image("header/header_bg.png");
  background-position: center;
}

#home header {
  @include grid-container;
  h1 {
    @include zeroing-margin-pad;
    padding-top: 85px / $viewport-height * 100vh;
    padding-bottom: 80px / $viewport-height * 100vh;
    font-family: 'Existence_light';
    font-size: 90px/$viewport-height * 100vh;
    @include spans-color($base-color,$second-color);
  }
  h2 {
    @include zeroing-margin-pad;
    margin-bottom: 34px / $viewport-height * 100vh;
    font-family: 'Lato_hairline';
    font-size: 48px / $viewport-height * 100vh;
  }
  h3 {
    margin-bottom: 110px /$viewport-height * 100vh;
    font-size: 24px / $viewport-height * 100vh;
    font-family: 'Lato_hairline';
  }
}
.base-color {
  color: $base-color;
}

.second-color {
  color: $second-color;
}

.home-nav {
  @include grid-container;
  font-size: 18px / $viewport-height * 100vh;
  @include list-style-none;
  @include zeroing-margin-pad;
  @include clearfix;

  &-item {
    padding-bottom: $margin-indent-home-nav;
    height: 0;
    opacity: 0.5;
    transition: opacity 1s;

    &:hover {
      opacity: 1;
    }
  }


}

.home-nav-item__about {
  @include column-col(2);
  @include background-style("header/header_nav/about.svg");
  @include margin-direction("top");


}

.home-nav-item__team {
  @include column-col(2);
  @include background-style("header/header_nav/team.svg");
  @include margin-direction("top");
}

.home-nav-item__services {
  @include column-col(2);
  @include background-style("header/header_nav/services.svg");
  @include margin-direction("bottom");
}
.home-nav-item__portfolio {
  @include column-col(2);
  @include background-style("header/header_nav/portfolio.svg");
  @include margin-direction("bottom");
}
.home-nav-item__blog {
  @include column-col(2);
  @include background-style("header/header_nav/blog.svg");
  @include margin-direction("top");
}

.home-nav-item__contact {
  @include column-col(2);
  @include background-style("header/header_nav/contact.svg");
  @include margin-direction("top");
}

.home-nav-title {
  position: relative;
  top: 123px /$viewport-height * 100vh;
  text-align: center;
  color: $base-color;
  font-family: "Lato_regular";
}

.home-scroll-container {

}

.home-scroll {
  @include column-col(2);
  @include offsets-column(5);
  padding-bottom: 109px /$viewport-height * 100vh;
  @include background-style("header/header_scroller/scroller.png");
  opacity: 0.5;
  cursor: pointer;

  &:hover {
    opacity: 1;
    transition: opacity 0.5s;
  }
}

