@import "mixins";
@import "about";

.portfolio {
    @include grid-container;
}
.portfolio-header {
    @extend .about-section-header;
    padding-bottom: 160px / $viewport-height * 100vh;
}

.portfolio-header__text {
    @extend .about-section-header__text;
    font-size: 48px / $viewport-height * 100vh;
    left: 15%;
}

.portfolio-nav {
    width: 100%;
    text-align: center;
}

.portfolio-nav-item {
    width: get-value-vh(90px);
    height: get-value-vh(40px);
    border: 1px solid black;
    box-sizing: border-box;
    display: inline-block;
    margin-right: 20px / $viewport-height * 100vh;
    font-size: 18px / $viewport-height * 100vh;
    font-family: "HelveticaNeueLTStd-Lt";
    cursor: pointer;
    line-height: 40px / $viewport-height * 100vh;
    border-radius: 6px;
    @include omega(4);
    transition: all 0.4s;
    @include respond-to(small-media-screens) {
        width: get-value-rem(90px);
        height: get-value-rem(40px);
        margin-right: get-value-rem(20px);
        font-size: get-value-rem(18px);
        line-height: get-value-rem(40px);
    }
}

.substrate {
    position: relative;

    &:before {
        position: absolute;
        display: block;
        content: "";
        opacity: 0.3;
        width: 100%;
        height: 100%;
    }

    &:hover:before {
        background-color: grey;
        background-image: url('../../src/assets/portfolio/+.png');
        background-repeat: no-repeat;
        background-position: center;
    }

    img {
        display: block;
    }

}

.portfolio-nav-item:hover {
    border-color: $second-color;
    background-color: $second-color;
    color: $base-color;
}

.portfolio-container-image {
    @include clearfix;
}

.portfolio-image-item {
    @include column-col(4);
    @include omega(3);
    padding-top: 35px / $viewport-height * 100vh;
}


.portfolio-image-item__text {
    font-size: get-value-vh(24px);
    font-family: "HelveticaNeueLTStd-Lt";
    color: $portfolio-color-font;
    line-height: (24px + 27px / 2) / 27px;
    @include respond-to(small-media-screens) {
        font-size: get-value-rem(24px);
    }
}
.portfolio-image-item__text:after {
    content: "apps, icons, ui";
    display: block;
    font-size: get-value-rem(17px);
    color: $font-after;
    line-height: (17px + 27px / 2) / 17px;
    @include respond-to(small-media-screens) {
        font-size: get-value-rem(17px);
    }
}

.portfolio-button-container{
    padding-top: 60px / $viewport-height * 100vh;
}
.portfolio-button {
    background-color: $second-color;
    border-radius: 4px;
    width: 230px / $viewport-height * 100vh;
    height: 70px / $viewport-height * 100vh;
    border-width: 5px;
    border-bottom: solid #6b2e68;
    font-size: 20px / 1100px * 100vh;
    color: #fff;
    line-height: 70px / $viewport-height * 100vh;  /*(for centering text vertically)*/
    margin: 68px / $viewport-height * 100vh auto 0 auto;
    cursor: pointer;
}

