@import "mixins";
@import "about";

.portfolio {
    @include grid-container;
    padding-top: 98px / $viewport-height * 100vh;

}
.portfolio-header {
    @extend .about-section-header;
    padding-bottom: 160px / $viewport-height * 100vh;
}

.portfolio-header__text {
    @extend .about-section-header__text;
    font-size: 48px / $viewport-height * 100vh;
    left: 15%;
}

.portfolio-nav {
    clear: left;
    width: 100%;
    text-align: center;
}

.portfolio-nav-item {
    width: 90px / $viewport-height * 100vh;
    height: 40px / $viewport-height * 100vh;
    border: 1px solid black;
    box-sizing: border-box;
    display: inline-block;
    margin-right: 20px / $viewport-height * 100vh;
    font-size: 18px / $viewport-height * 100vh;
    font-family: "HelveticaNeueLTStd-Lt";
    cursor: pointer;
    line-height: 40px / $viewport-height * 100vh;
    border-radius: 6px;
    @include omega(4);
}

.portfolio-nav-item:hover {
    border-color: $second-color;
    background-color: $second-color;
    color: $base-color;
}

.portfolio-container-image {
    @include clearfix;
}

.portfolio-image-item {
    @include column-col(4);
    @include omega(3);
    padding-top: 35px / $viewport-height * 100vh;
}


.portfolio-image-item__text {
    font-size: 24px / $viewport-height * 100vh;
    font-family: "HelveticaNeueLTStd-Lt";
    color: $portfolio-color-font;
    line-height: (24px + 27px / 2) / 27px;
}
.portfolio-image-item__text:after {
    content: "apps, icons, ui";
    display: block;
    font-size: 17px / $viewport-height * 100vh;
    color: $font-after;
    line-height: (17px + 27px / 2) / 17px;
}

.portfolio-button-container{
    padding-top: 60px / $viewport-height * 100vh;
}
.portfolio-button {
    background-color: $second-color;
    border-radius: 4px;
    width: 230px / $viewport-height * 100vh;
    height: 70px / $viewport-height * 100vh;
    border-width: 5px;
    border-bottom: solid #6b2e68;
    font-size: 20px / 1100px * 100vh;
    color: #fff;
    line-height: 70px / $viewport-height * 100vh;  /*(for centering text vertically)*/
    margin: 68px / $viewport-height * 100vh auto 0 auto;
    cursor: pointer;
}

