@import "mixins";

.social-icons {
  @include clearfix;
  //margin-left: 80px / $viewport-height * 100vh;
  .social-icon {
    padding-bottom: 70px / $viewport-height * 100vh;
    width:25%;
    display: inline-block;
    padding-left: 3vh;
    cursor: pointer;
    opacity: 0.7;

    &:hover {
      opacity: 1;
      transition: opacity 0.3s;
    }
  }

}

.icon__facebook {
  @include background-style("team/icon_facebook.png");
  background-position: right;

}
.icon__google {
  @include background-style("team/icon_google.png");
  background-position: left;
}

.icon__twitter {
  @include background-style("team/icon_twitter.png");
}

