@import "mixins";

.social-icons {
  @include clearfix;

  .social-icon {
    padding-bottom: get-value-vh(70px);
    width:25%;
    display: inline-block;
    padding-left: 3vh;
    cursor: pointer;
    opacity: 0.7;

    @include respond-to(small-media-screens) {
      padding-bottom: get-value-rem(70px);
    }
    &:hover {
      opacity: 1;
      transition: opacity 0.3s;
    }
  }

}

.icon__facebook {
  @include background-style("team/icon_facebook.png");
  background-position: right;

}
.icon__google {
  @include background-style("team/icon_google.png");
  background-position: left;
}

.icon__twitter {
  @include background-style("team/icon_twitter.png");
}

