@import "mixins";
@import "team";

.skill-section {
  @include grid-container;
  padding-bottom: 195px / $viewport-height * 100vh;
}

.skill-header {
  @extend .about-section-header;
}


.statistic-section-bg {
  background-color: $statistic-bg-color;
}

.statistic-section {
  @include grid-container;
  padding-top: 160px / $viewport-height * 100vh;
  padding-bottom: 95px / $viewport-height * 100vh;
}

.statistic-index {
  margin-bottom: 140px / $viewport-height * 100vh;
  div {
    @include column-col(3);
    font-size: 64px / $viewport-height * 100vh;
    text-align: center;

    &::after {
      content: "Lorem ipsum";
      font-size: 16px / $viewport-height * 100vh;
      color: $base-color-about-nav;
      display: block;
    }
  }
}
.statistic-player {
  color: $base-color-about-nav;

  &-photo {
    @include offsets-column(5);
    @include column-col(2);
    @include omega(1);
    @include background-style("team/photo.png");
    padding-bottom: 185px / $viewport-height * 100vh;
  }
}


.statistic-player-citation {
  @include offsets-column(1);
  @include column-col(10);
  @include omega(1);
  font-size: 33px / $viewport-height * 100vh;
  line-height: 33px * 120% / 100%;
  padding-bottom: 30px / $viewport-height * 100vh;
}

.statistic-player-name {
  font-size: 20px / $viewport-height * 100vh;
  @include offsets-column(4);
  @include column-col(4);
  padding-bottom: 50px / $viewport-height * 100vh;
}

.statistic-nav {
  @include offsets-column(5);
  @include column-col(2);
  text-align: center;
    
  .round {
    @include background-style("statistic/ellipse-nav.svg");
    //width: 13px / $viewport-height * 100vh;
    //padding-right: 7px / $viewport-height * 100vh;
    padding-bottom: 30px / $viewport-height * 100vh;
    width: 13px / $viewport-height * 100vh;
    padding-right: 7px / $viewport-height * 100vh;
    display: inline-block;
    box-sizing: border-box;
  }

  .clear {
    clear: left;
    height: 0;
  }

}

.skill-header__text {
  @extend .about-section-header__text;
}

