@import "fonts";
@import "home";
@import "about";
@import "team";
@import "component-button";
@import "experience";
@import "statistics";
@import "portfolio";
@import "contact";
@import "social-icons-component";




