$font-stack: Helvetica, sans-serif;
$primary-color: blue;
$pad: 5px;


@mixin grid-container {
  width: 100%;
  text-align: center;
  padding: 0 21.5% 0 21.5%;
  box-sizing: border-box;
}

%clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

@mixin column-col($n) {
  width: $n * 100% / 12;
  box-sizing: border-box;
  padding: $pad;
  float: left;
}


html{
  height: 100%;
}

body {
  font: 100% $font-stack;
  color: $primary-color;
  height: 100%;
  margin: 0 0;
  width: 100%;
  max-width: 2000px;
}
img {
  max-width: 100%;
}
#home {
  height: 100%;
  background-image: url(../../src/assets/header/header_bg.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

header {
  h1, p {
    @include column-col(12);
    font-size: 1.5em;
  }
  h1 {
    height: 18%;
  }
  p {
    height: 27%;
  }
  .home__scroller {
    height: 18%;
  }
}
.home__nav {
  height: 36%;
}

.home-nav__about {
  @include column-col(2);
}

.home-nav__team {
  @include column-col(2);
}

.home-nav__services {
  @include column-col(2);
}
.home-nav__portfolio {
  @include column-col(2);
}
.home-nav__blog {
  @include column-col(2);
}

.home-nav__contact {
  @include column-col(2);
}
.home__scroller {
  @include column-col(12);
}


#about {
  height: 100%;
}


#team {
  height: 1765px;
}

#service {
  height: 2310px;
}
#portfolio {
  height: 1475px;
}
#contact {
  height: 1325px;
}

header {
  height: 100%;
  @include grid-container;
}

.header-nav {
  height: 40%;
}
.header-scroller {
  height: 10%;
  @include column-col(12);
}

section.feature{
  height: 1.5%;
  background-color: red;
}
section.about{
  height: 8%;
  background-color: #004444;
}

section.quote{
  height: 10.5%;
  background-color: #00DD00;
}
