@import "mixins";
@import "about.scss";


#team {
    @include grid-container;
    padding-top: 150px / 1100px * 100vh;
    padding-bottom: 18.18182vh;
}

.team-header {
    @extend .about-section-header;
}

.team-header__text {
    @extend .about-section-header__text;
    left: 20%;
}

.team-arrow {
    @include clearfix;
}

.team-arrow-container {
    @include column-col(2);
    @include offsets-column(5);
    margin-bottom: 115px / 1100px * 100vh;
    cursor: pointer;

    .team-arrow-left, .team-arrow-right {
        width: 50%;
        padding-bottom: 90px / 1100px * 100vh;
        opacity: 0.5;
        float: left;

        &:hover {
            opacity: 1;
            transition: opacity 0.5s;
        }
    }
        .team-arrow-left {
            @include background-style("team/arrow-left.png");
        }

        .team-arrow-right {
            @include background-style("team/arrow-right.png");
        }
}

.team-player-panel {
    color: $base-color-about-nav;
}

.team-player {
    @include column-col(4);


}

.team-player-photo {
    @include background-style("team/photo.png");
    background-size: contain;
    padding-bottom: 245px / $viewport-height * 100vh;

}

.team-player-name {
    font-size: 24px / $viewport-height * 100vh;
    font-family: "Lato_bold";
    padding-top: 65px / $viewport-height * 100vh;
    @include  centered_text();
}

.team-player-title {
    font-size: 18px / $viewport-height * 100vh;
    font-family: "Lato_light";
    padding-top: 15px / $viewport-height * 100vh;
    padding-bottom: 22px / $viewport-height * 100vh;

    @include  centered_text();
}

