@import "mixins";
@import "about.scss";


#team {
    @include grid-container;
    padding-bottom: 18.18182vh;
    @include respond-to(small-media-screens) {
        padding-bottom: get-value-rem(40px,2);
    }
}

.team-header {
    @extend .about-section-header;
}

.team-header__text {
    @extend .about-section-header__text;
    left: 20%;
}

.team-arrow {
    @include clearfix;
}

.team-arrow-container {
    @include column-col(2);
    @include offsets-column(5);
    margin-bottom: 115px / 1100px * 100vh;
    cursor: pointer;

    .team-arrow-left, .team-arrow-right {
        width: 50%;
        padding-bottom: 90px / 1100px * 100vh;
        opacity: 0.5;
        transition: opacity 0.5s;
        float: left;

        &:hover {
            opacity: 1;
        }
    }
        .team-arrow-left {
            @include background-style("team/arrow-left.png");
            background-position: right;
        }

        .team-arrow-right {
            @include background-style("team/arrow-right.png");
            background-position: left;
        }
}

.team-player-panel {
    color: $base-color-about-nav;
}

.team-player {
    @include column-col(4);
}

.team-player-photo {
    @include background-style("team/photo.png");
    background-size: contain;
    padding-bottom: 245px / $viewport-height * 100vh;

}

.team-player-name {
    font-size: 24px / $viewport-height * 100vh;
    font-family: "Lato_bold";
    padding-top: 65px / $viewport-height * 100vh;
    @include  centered_text();
    @include respond-to(small-media-screens) {
        font-size: get-value-rem(24px,1.2);
        padding-top: get-value-rem(65px,5);
    }
}

.team-player-title {
    font-size: 18px / $viewport-height * 100vh;
    font-family: "Lato_light";
    padding-top: 15px / $viewport-height * 100vh;
    padding-bottom: 22px / $viewport-height * 100vh;
    @include  centered_text();
    @include respond-to(small-media-screens) {
        font-size: get-value-rem(18px);
        padding-top: get-value-rem(15px,3);
        padding-bottom: get-value-rem(22px,3);
    }
}

